doctype html
html(lang='de', ng-app='feGFFB')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(name='author', content=data.author)
    meta(name='publisher', content=data.publisher)
    meta(name='copyright', content=data.rights)
    meta(name='description', content=data.title.long)
    meta(name='keywords', content=data.keywords)
    meta(name='page-topic', content='Religion')
    meta(name='audience', content='All')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content=data.author)
    meta(name='DC.Publisher', content=data.publisher)
    meta(name='DC.Rights', content=data.rights)
    meta(name='DC.Description', content=data.title.long)
    meta(name='DC.Language', content='de')
    meta(property='og:type', content='website')
    meta(property='og:title', content=data.title.short)
    meta(property='og:description', content=data.title.long)
    meta(property='og:url', content=data.url)
    meta(property='og:image', content=data.url+'/images/apple-touch-icon.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content=data.url)
    meta(name='twitter:title', content=data.title.short)
    meta(name='twitter:description', content=data.title.long)
    meta(name='twitter:image', content=data.url+'/images/apple-touch-icon.png')
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
    link(rel="manifest", href="/images/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#990000")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="msapplication-config", content="/images/browserconfig.xml")
    meta(name="theme-color", content="#900000")
    link(rel='stylesheet', href='css/main.css')
    link(rel="stylesheet", href="css/gutenberg.min.css", media="print")
    meta(name="yandex-verification", content=keys.yandex)
    meta(name="google-site-verification", content=keys.google)
    meta(name="msvalidate.01" content=keys.bing)
    title #{data.title.short}
  body(itemscope itemtype="http://schema.org/Organization")
    a#up.btn.btn-default.btn-lg.no-print(href="#top" title="Back to Top")
      i.fa.fa-arrow-up(aria-hidden="true")
      span.sr-only Back to the Top
    .share-buttons.no-print
      a.facebook(href="https://www.facebook.com/sharer/sharer.php?u="+data.url target="_blank"  title="Share on Facebook")
        i.fa.fa-facebook(aria-hidden="true")
        span.sr-only Share on Facebook
      a.mail(href="mailto:?subject=""+data.url title="Share by Mail")
        i.fa.fa-envelope(aria-hidden="true")
        span.sr-only Share by Mail
      a.twitter(href="https://twitter.com/home?status="+data.url target="_blank" title="Share on Twitter")
        i.fa.fa-twitter(aria-hidden="true")
        span.sr-only Share on Twitter
      a.google-plus(href="https://plus.google.com/share?url=""+data.url target="_blank" title="Share on Google+")
        i.fa.fa-google-plus(aria-hidden="true")
        span.sr-only Share on Google+
      a.whatsapp.visible-xs-block(href="whatsapp://send?text="+data.url data-action="share/whatsapp/share")
        i.fa.fa-whatsapp(aria-hidden="true")
        span.sr-only Share with WhatsApp
    nav.navbar.navbar-default.navbar-fixed-top.no-print
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#!/home')
            img(src="images/android-chrome-192x192.png" style="width:72px;height:auto;")
            span #{data.title.short}
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li(ng-class="{ active: isActive('/predigten')}")
              a(href="#!/predigten") Predigten
            li(ng-class="{ active: isActive('/termine')}")
              a(href="#!/termine") Termine
            li(ng-class="{ active: isActive('/news')}")
              a(href="#!/news") News
            li(ng-class="{ active: isActive('/ueber_uns')}")
              a(href="#!/ueber_uns") Über Uns  
            li(ng-class="{ active: isActive('/kontakt')}")
              a(href="#!/kontakt") Kontakt
    .container
      #ng-view(ng-view='')
      footer.footer.container
        .col-md-2.col-xs-12
          a.btn.btn-link(style='color:white;' href="http://webdad.eu" target="_blank") Powered by WebDaD.eu
        .col-md-offset-6.col-md-4.col-xs-12
          a.btn.btn-link(style='color:white;' href="#!/impressum" ng-class="{ active: isActive('/impressum')}") Impressum
          a.btn.btn-link(style='color:white;' href="#!/datenschutz" ng-class="{ active: isActive('/datenschutz')}") Datenschutzerklärung
    if control.debug
      script(src='js/bootstrap.min.js')
      script(src='js/angular.min.js')
      script(src='js/angular-route.min.js')
      script(src='js/angular-sanitize.js')
      script(src='js/ui-bootstrap-tpls.min.js')
      script(src='js/fegFFB.js')
      if control.mockapi
        script(src='js/fegFFB-svc-mock.js')
      else
        script(src='js/fegFFB-svc.js')
      script(src='js/fegFFB-dir.js')
      script(src='js/controllers/404-controller.js')
      script(src='js/controllers/article-controller.js')
      script(src='js/controllers/articles-controller.js')
      script(src='js/controllers/datenschutz-controller.js')
      script(src='js/controllers/home-controller.js')
      script(src='js/controllers/impressum-controller.js')
      script(src='js/controllers/kontakt-controller.js')
      script(src='js/controllers/losung-controller.js')
      script(src='js/controllers/losungen-controller.js')
      script(src='js/controllers/predigt-controller.js')
      script(src='js/controllers/predigten-controller.js')
      script(src='js/controllers/termin-controller.js')
      script(src='js/controllers/termine-controller.js')
      script(src='js/controllers/ueber_uns-controller.js')
    else
      script(src="js/js.min.js")
    script(src='https://www.google.com/recaptcha/api.js')
